[2017-09-02 05:22] Nick7hill opened #1 "debugging"
line 106 of he proces.py file gives an error while giving the command `' python process.py --process True`'``. the error is ` for key, value in sorted(self.w_dict.iteritems(), key=lambda (k,v): (v,k)):`

[2017-09-02 05:26] minsangkim142 commented on #1
Hi @Nick7hill, that lines gives syntax error in python3. Try running it in python2, I'll try to make it python3 compatible soon :)

[2017-09-02 08:58] Nick7hill commented on #1
thanks  a lot man !

[2017-09-02 09:24] #1 closed

[2017-09-02 10:26] Nick7hill commented on #1
` File "process.py", line 335, in <module>
    main()
  File "process.py", line 329, in main
    loader.process_json(Params.data_dir + "dev-v1.1.json", out_dir = Params.dev_dir)
  File "process.py", line 103, in process_json
    self.data = json.load(codecs.open(file_dir,"rb","utf-8"))
  File "/usr/lib/python2.7/codecs.py", line 896, in open
    file = __builtin__.open(filename, mode, buffering)
I

[2017-09-02 11:58] Nick7hill opened #2 "what were your performance results mate? the EM and F1?"

[2017-09-03 22:28] minsangkim142 commented on #2
Currently I am struggling to reduce the gpu memory usage in tensorflow to fit a minibatch of 48 and higher. Until then I can't train with full dataset, as the dataset shows high variance and it won't converge with small mini-batches.

[2017-09-04 08:28] minsangkim142 commented on #2
Please take a look at ec238d6f7ac57890423298acaf71befbceddf012 and 0523897bbf61db0df75b60dd09ff56cdff7d8310. Now you can check your training set F1 and EM from Tensorboard while training, as well as checking your dev set F1 and EM by changing test = True from params.py file and running the model.py file. If you obtain any results please report the hyperparameters you used with results here so we c

[2017-09-05 07:01] Nick7hill commented on #2
yeah, sure, thanks a lot! your have done tremendous work in trying to emulate R-net

[2017-09-06 08:28] matthew-z opened #3 "I am working on a PyTorch version"
Just want to share some ideas.

Currently, my pytorch version can work with a very small batch size (about 20 examples/batch on AWS P2  instance whose GPU has worse performance than 1080 while it has 12GB VRAM) .

Training speed is about 3 examples per second, so it takes about 10 hours to train one epoch (80,000 examples). I observed that increasing batch size can improve the training speed large

[2017-09-06 12:39] Nick7hill commented on #2
can you please make a blog post about your implementation, it is kind of difficult to correlate the code with the architecture at times, and if you don't mind comment the code at certain places, i suggest jupyter notebooks are better

[2017-09-06 16:38] monark12 opened #4 "TypeError: object.__init__() takes no parameters"
When I am running model.py I am getting this error in GRU.py file on line 46, in __init__

"super(gated_attention_GRUCell, self).__init__(_reuse=reuse) . TypeError: object.__init__() takes no parameters".
I am using python3.5.
Please help me with this.

[2017-09-06 23:17] minsangkim142 commented on #4
Hey, please refer to issue #1 , the current version is not compatible with python3. You can run this code in python 2.7 using the following command.
[code]

[2017-09-06 23:17] #4 closed

[2017-09-06 23:25] minsangkim142 commented on #3
Thanks for your input and work. I figured that while R-Net requires a large gpu memory, If you implemented the R-Net correctly it is possible to fit the whole model in a single GPU with a batch size of 50 and larger. Here are some tips of implementing:
1. Check the shape of the output at each layer (especially the attention-matching layers as they are tricky to implement on top of gated recurrent

[2017-09-06 23:26] minsangkim142 commented on #2
Thanks for your input! I'll look into jupyter notebooks

[2017-09-07 08:50] monark12 commented on #4
I tried it with python2. Still getting the same error

[2017-09-09 10:22] Nick7hill opened #5 "use of attention function"

[2017-09-09 10:29] #5 closed

[2017-09-13 00:41] #3 closed

[2017-09-13 03:04] matthew-z commented on #3
Thank you for the comments!

[2017-09-16 06:45] Nick7hill opened #6 "use of bi-directional GRU"
i think you have used 2 bi-directional GRU's instead of 3 as mentioned in the paper ,to encode questions and passages.

[2017-09-18 03:26] minsangkim142 commented on #6
Could you please refer to the lines of code related to this issue? If you look at line https://github.com/minsangkim142/R-net/blob/2d9d27431ed813696af947dc87b8c93f50a71356/model.py#L88-L99 I use Params.num_layers to control the number of layers, and Params.num_layers is 3 by default (https://github.com/minsangkim142/R-net/blob/2d9d27431ed813696af947dc87b8c93f50a71356/params.py#L42)

[2017-09-18 03:53] Nick7hill commented on #6
alright, my bad , thanks for the explanation!

[2017-09-18 03:53] #6 closed

[2017-09-18 09:55] dengyuning opened #7 "anything new??"
It seems that the result is not good. Any new progress??

[2017-09-19 03:25] minsangkim142 commented on #7
Thanks for raising this issue!
I've been quite busy with other works recently but I'd love to get some feedback from everyone as I might have easily misinterpreted the [paper](https://www.microsoft.com/en-us/research/wp-content/uploads/2017/05/r-net.pdf) and could have written a wrong architecture. I've tried different approaches and architectures (e.g. weight sharing, 100% unidirectional RNN etc)

[2017-09-21 04:23] minsangkim142 commented on #7
Just clarifying confusion, the training curve above is when applied dropout of 0.2
Below is when no dropout is used.
The dev performance with dropout is 0.3/0.4 for EM/F1
and without dropout is 0.4/0.5.

![image](https://user-images.githubusercontent.com/24954419/30678794-f8c53942-9ee8-11e7-8119-834eaef3da3a.png)

[2017-09-28 03:58] kelvinleen opened #8 "some problem in pointer_net"
in layers.py function pointer_net, i have some confusion in compute attention_pool:
p1_logits = attention(inputs, Params.attn_size, weights_p, output_fn = None, scope = "attention")
scores = tf.expand_dims(p1_logits, -1)
scores = tf.nn.softmax(scores)
# i think the softmax should compute before expand_dims, otherwise the softmax computes on the last dim which just one element makes score all 1s.
i

[2017-09-28 04:08] minsangkim142 commented on #8
Very nice catch! Thank you! Do you want to submit a pull request? :)

[2017-09-28 05:08] becxer commented on #8
Yes, this is same as what I found today!  softmax before expand will makes all variable in matrix goes to 1.

[2017-09-28 19:24] #8 closed

[2017-10-15 04:49] ziwei75 opened #11 "answer word label"
Hi, I am using your data preprocessing for squad right now. I find that too many answer word labels are [0,0] and sometimes they are incorrect. I am not sure why this is happening. Could you please look at it?

[2017-10-15 06:02] minsangkim142 commented on #11
Thanks for raising an issue. I will take a look

[2017-10-15 13:23] akaitsuki-ii commented on #3
Hello, @minsangkim142 and @matthew-z . Sorry to comment under this closed issue.
I am also working on an implementation of R-NET using PyTorch (https://github.com/akaitsuki-ii/r-net) and now I am suffering from terrible training overfit. Loss on dev set never go down (about 6.0+) after several epochs and the EM/F1 stays 10+/20+, while training loss can go down to 0.6 and EM/F1 becomes 80+/90+ on t

[2017-10-15 13:25] theSage21 commented on #3
It might help to investigate what exactly the model learns on the training set. I've always found it useful to investigate what it overfits to.

[2017-10-15 13:36] akaitsuki-ii commented on #3
Emmm... I think it's a little bit hard to figure out that ... I have try to mix the official training set and dev set and resplit questions into training/dev set (thus there are many common passages among training/dev set while questions/answers are different), EM/F1 is quite good when training with this dataset. So I guess it's hard for the model to do well on unseen passages, or overfit on the t

[2017-10-15 13:52] matthew-z commented on #3
@akaitsuki-ii Yes, I believe the memory would be enough after removing the long paragraphs. 8G is enough for most batches (if size is 32).

[2017-10-15 14:25] matthew-z commented on #3
@akaitsuki-ii

I just had a glance at your code.

I guess you didn't freeze the pre-trained word embedding as nn.Parameter requires grad by default. Also, it seems that you didn't use multiple layers in pair encoding, self attention, and output layer, so the model capacity may be dominated by embedding parameters instead of RNN's parameters.
This could cause overfit as the dataset is relatively sm

[2017-10-15 20:12] ziwei75 commented on #11
Hi, I manually checked some of your answer labels. It seems like the answer word labels are having troubles when the answers are numbers.
For example,
paragraph: As aristocrats for centuries samurai developed their own cultures that influenced Japanese culture as a whole The culture associated with the samurai such as the tea ceremony monochrome ink painting rock gardens and poetry were adopted by

[2017-10-15 21:21] minsangkim142 commented on #11
Hi Ziwei, thanks for pointing out where the processing has gone wrong! I will work on the fix which hopefully should improve the accuracy. Or even better if you could suggest and put a pull request of the solution for this problem.

One last thing, which version of the process.py are you using? Because the paragraph you uploaded seems to have been stripped away of full stops, commas etc. I fixed t

[2017-10-15 22:08] ziwei75 commented on #11
Hi, I think I am using the previous version. It contains these two lines:
splitted_line = re.split(r'[`\--=~!@#$%^&*\"“”()_+ \[\]{};\\:"|<,./<>?]', line.strip())
splitted_line = [sl for sl in splitted_line if sl]
I think it shouldn't be a big deal. I previously did data processing on squad and found CorenNlp or nltk fail to split some words. So I manually splitted all the special characters like w

[2017-10-15 23:00] minsangkim142 opened #12 "Overfitting?"
This is probably going to be needlessly long and very confusing to read but here are some things I noticed while training this model.

#3 raised the issue of overfitting, where the training error and training EM/F1 is very high but the dev loss and EM/F1 are not improving. I also noticed that the model overfits by a large amount when no regularization is used. The figures below show how well the m

[2017-10-15 23:01] minsangkim142 commented on #3
I just raised a new issue #12 where we can discuss how to solve the regularization problem. So we can keep this issue closed :)

[2017-10-16 01:57] minsangkim142 commented on #7
I raised another issue #12 related to this. We can keep all discussions regarding performance in this issue.

[2017-10-16 01:57] #7 closed

[2017-10-16 01:58] minsangkim142 commented on #2
Let's keep all performance related discussions in this issue #12 thanks!

[2017-10-16 01:58] #2 closed

[2017-10-16 08:28] akaitsuki-ii commented on #3
@matthew-z Thanks for your advices! It is a bug that I forget to add a fixed_embed flag here but on another branch, I will now try to fix it and start another experiment .
As for the charRNN padding problem, I will re-check that does zero padding make the result unreliable.
@minsangkim142 Sorry for replying here again. If there is any update about the overfit problem, I will go to https://github.c

[2017-10-17 09:12] minsangkim142 commented on #11
Hi Ziwei,

I'm having trouble replicating this issue of [0, 0] in answer label. It seems that the issue is fixed as of the latest commit #10  and I don't observe any more wrongly labelled [0, 0] in digits. If this is still not true for your case please let me know how I can replicate this issue! Thanks :)

[2017-10-17 12:50] ziwei75 commented on #11
Hi, Kim,

You are right. I redid data processing using the latest version and the trouble seems already be fixed. I am not sure whether it's because I used a earlier version, the one without spacy. Sorry for this wrong issue.

[2017-10-17 17:41] ziwei75 commented on #11
Hi, Kim,
In your data_load.py, get_batch method:
indices = input_list[-1]
train_ind = np.arange(indices.shape[0],dtype = np.int32)
np.random.shuffle(train_ind)
Seems like you shuffled the train_index not along with other inputs. I didn't implement my code this way because I shuffled my data during processing, but it looks weird to me to not shuffle the indices along with other inputs. I am not sur

[2017-10-18 10:19] Levstyle opened #13 "there is something wrong with the code"
[code]

in the file process.py, the splitted_line is ....

[2017-10-19 02:42] Levstyle opened #14 "you should apply validation to save the best model"
the structure of your source code is really 6666666! from which, I learned a lot.  while, I have not figured out how to validate the model, when the model instance is created, the variable `is_training` is set, however, it should be set `False` during validation. It cost too much memory to save models, so it's not convenient to save hundreds of models, and validate them one by one after finishing

[2017-10-19 04:40] sathishreddy commented on #12
Hi 	minsangkim1
                     Thank you very much for sharing this work. Could you please share hyper params used  to get dev EM of 55. in the params.py file both the zone_out and droput set to none. But you said you got EM;55 with zoneout.
Thanks,
Sathish

[2017-10-19 05:12] minsangkim142 commented on #12
Hi @sathishreddy, shortly after writing this summary I obtained EM/F1 = 53/65 using the following [hyper parameters](https://github.com/minsangkim142/R-net/blob/5b15ef7ab08cb6d32e5c7fbfbc14de071d267f41/params.py#L22-L47). I used SRU (Simple recurrent unit) to reduce the number of parameters, and increase the convergence speed.

[2017-10-19 05:16] sathishreddy commented on #12
Thanks @minsangkim142.

[2017-10-19 05:18] minsangkim142 commented on #13
Thanks for pointing it out, this function is deprecated and will soon be removed though...

[2017-10-19 05:25] minsangkim142 commented on #14
Hi @Levstyle, what do you mean validation? Do you mean validation of source code to ensure the code is implemented correctly to the paper [here](https://www.microsoft.com/en-us/research/wp-content/uploads/2017/05/r-net.pdf)?
Or do you mean cross-validation of the model to ensure the model is not overfitting?

[2017-10-19 05:30] #11 closed

[2017-10-19 05:43] Levstyle commented on #14
cross-validation @minsangkim142 , evaluate the model with validation data after every k batches training, and the best one is kept.

[2017-10-19 07:10] minsangkim142 commented on #14
Please check the latest commit 5b15ef7ab08cb6d32e5c7fbfbc14de071d267f41, as now we can monitor dev_loss as well as training_loss, dev EM/F1 score in tensorboard. You can control how often to calculate Dev performance from this [line](https://github.com/minsangkim142/R-net/blob/5b15ef7ab08cb6d32e5c7fbfbc14de071d267f41/params.py#L28).

[2017-10-19 07:48] Levstyle commented on #14
sorry for my carelessness! the dev data is indeed used to avoid overfitting! to my knowledge, the keep_prob should be less than 1 when training, but it should be 1 when validation. you use the variable is_training to control this, it seems it can not be modified when validation!

Thanks for your attention !

[2017-10-19 08:09] minsangkim142 commented on #14
You are totally right about the dropout! The dropout prob is not 0 when calculating dev data and loss. There are two ways to control this,
1. Make variable is_training as a tensorflow variable from tf.placeholder_by_default(True, name="is_train") and feed {model.is_train:False}
2. Make dropout as a tensorflow variable and use the above technique.
What do you think is a better way? Or can you think

[2017-10-20 02:09] Levstyle commented on #14
I can't agree with you any more. I use the first way in my model, but the structure of my source code is organized badly. Thanks for your awesome code!

[2017-10-22 07:04] yangyuan opened #15 "Weird error message when run `python model.py`."
I tried to run this project in a totally new environment. (Ubuntu 16.04 64 bit, Python 2.7)
I strictly followed the instructions. However, I always end with an error message (see below) when I run `python model.py`.

[code]

Any idea about this problem?

I'm using the current code without any modification.

This this the pip packages I installed.
nltk==3.2.4
numpy==1.13.1
scikit-learn==0.19.0
scip

[2017-10-24 00:15] minsangkim142 commented on #15
Hi @yangyuan, I tried to replicate this error from the latest commit 5b15ef7ab08cb6d32e5c7fbfbc14de071d267f41 but I couldn't replicate this error. Please try printing the "inputs" from layers.py line 95 before bidirectional_dynamic_rnn is called and post it here?
`print(inputs)`

[2017-10-24 06:57] yangyuan commented on #15
Thanks for helping, this is the outputs after adding the print
[code]

[2017-10-24 08:34] huangpeng1126 commented on #15
I have the same issue, the following is the output (add print(inputs) statement as suggested above):

Training...
Loading question data...
Loading passage data...
^@Preparing data...
Tensor("passage_embeddings/embedding_lookup_1:0", shape=(50, 300, 20, 300), dtype=float32, device=/device:CPU:0)
Tensor("question_embeddings/embedding_lookup_1:0", shape=(50, 30, 20, 300), dtype=float32, device=/devic

[2017-10-24 08:41] Levstyle commented on #15
I got the same issue  when i ran model.py

[code]

[2017-10-24 14:51] thisum commented on #15
I ran into the same error. Did anyone come up with a solution?

[2017-10-24 15:15] Levstyle commented on #15
@thisum I have not figured out how the point network works!  So i do not know how to fix it! I need more time to figure out the shape of every tensor!.

[2017-10-24 20:26] minsangkim142 commented on #15
Thanks for the detailed report! I am working on the fix. In the meantime please try previous versions f14e6280564dfc4fa906311cc7c64ac719860257 and let me know if it works, so we can locate down the problem.

[2017-10-25 05:43] yangyuan commented on #15
@minsangkim142 f14e628 gives similar errors. :(

[2017-10-25 06:30] Levstyle opened #16 "Would u mind explaining the `cross_entropy_with_sequence_mask` to me?"
[code]

when I read the code above, I find it's hard to understand the function of mask.

to my knowledge, the shape of output and target are both `(B, 2, N)`, it means we have B samples, and have to predict the starting position and the end position for each sample, every position has N options.

but the actual lengths of most samples are less than N. So we have to mask the extra positions out. A

[2017-10-25 22:02] minsangkim142 commented on #16
Hi @Levstyle thanks for putting this up here! You're right about the dimensions. It looks like right now the cost function is as good as not having a mask. I will fix this and report the resulting improvement.

[2017-10-28 11:19] huangpeng1126 commented on #15
File 'data_load.py' in line 146 & 147 (    p_char_len = pad_data(p_char_len,p_max_word)
    q_char_len = pad_data(q_char_len,q_max_word ), there is a potential bug for word length greater than 20(max_char)

[2017-10-28 21:25] minsangkim142 commented on #15
Hi @huangpeng1126 thanks for suggesting a solution! Do you mean there is a bug in these lines below in process.py file?
https://github.com/minsangkim142/R-net/blob/5b15ef7ab08cb6d32e5c7fbfbc14de071d267f41/process.py#L228-L250
Would you mind putting a pr for the fix?
Thanks :)

[2017-11-02 09:03] huangpeng1126 commented on #16
[code]
I don't understand the reason using **mask**. BTW, I guess that `tf.tf.losses.softmax_cross_entropy ` can replace the above function as follows:
[code]

But I'm not sure how does `mask` work. I will appreciate your explanation.

[2017-11-02 21:42] minsangkim142 commented on #16
@huangpeng1126  I actually noticed this but didn't have a time to commit. Because we are already multiplying the logits with the label which is essentially just a one hot vector, we don't need masking at all. I will be removing the mask function as we don't want to mask cross entropy but rather the logits output by the pointer network.

[2017-11-03 01:15] #13 closed

[2017-11-03 01:15] #16 closed

[2017-11-03 02:53] minsangkim142 commented on #16
Fixed as of 9997f7506d8c9bfe27ea49a817591e7de30b31a8. Thanks!

[2017-11-03 03:46] huangpeng1126 commented on #16
@minsangkim142

That is great, and it seems better idea.

Thank for your explanation for that, you are right, `softmax_cross_entropy` is wrong with *softmax* inputs.

BTW, your code is very pretty, and I learned lots of coding tricks

[2017-11-03 16:08] purnendu91 commented on #15
@huangpeng1126 Can you provide the fix, please? Thanks! :)

[2017-11-04 00:33] huangpeng1126 commented on #15
@minsangkim142 , I have 2 modification:

1.  define a new function in 'process.py':
[code]
2. File 'data_load.py' in line 143~147 change to the following:
[code]

[2017-11-06 08:30] Observerspy commented on #15
I ran ingot the same error here. Is there any solution? Thx.

[2017-11-07 00:21] Observerspy commented on #15
@huangpeng1126 ,Thx, it works.

[2017-11-07 00:32] minsangkim142 commented on #15
Committed e70680c4169c6b7fc9c09ac7a3ad05d1194b5656. Thanks alot!

[2017-11-07 00:32] #15 closed

[2017-11-08 12:24] Henry-E opened #17 "How to run on GPU"
I'm only vaguely familiar with tensor flow and couldn't figure out how to run this on gpu. There doesn't appear to be an option for it in the params settings. The tf.set_devices appear to be explicitly cpu and should probably be left that way. And when the model ran on a gpu enabled device, it didn't use the GPU by default. The training times appeared to be the same as if it was run on a CPU. Than

[2017-11-09 00:28] minsangkim142 commented on #17
Hi @Henry-E
To my understanding, if you install gpu-enabled tensorflow through pip or wheel they try to automatically use available gpu (check [here](https://www.tensorflow.org/install/)). Usually you can install this via `pip install --upgrade tensorflow-gpu`. I just built the model based on the assumption that whoever wants to run the model on gpu will want to use `tensorflow-gpu` version instea

[2017-11-09 10:48] Henry-E commented on #17
great, I must not have been using a gpu enabled version of tensor flow. And if I'm on a node with multiple GPUs then presumably it can restrict the usage by specifying `CUDA_VISIBLE_DEVICES=0, python model.py`. Thanks again

[2017-11-09 10:48] #17 closed

[2017-11-20 10:57] huangpeng1126 commented on #14
Sorry, my question is not related to this issue.
How long does it take to finish 100 epoch training? I have spent 2days (Tesla M40), and current progress is 23th epoch.

[2017-11-20 21:53] minsangkim142 commented on #14
@huangpeng1126  100 epochs is just an arbitrary number I put, as the network should converge in 10 hours in gtx 1070 (which is around 8 epochs). If you go over that the model is likely to overfit to the training data.

[2017-11-24 03:31] #12 closed

[2017-11-24 03:34] matthew-z commented on #12
Hi, I saw that you closed the issue. I was wondering if you got a better solution on this over-fitting problem?

FYI: I also ended up with a similar score (about 55/65) with my pytorch implementation.

[2017-11-24 03:42] minsangkim142 commented on #12
Hi @matthew-z, I closed this issue as I haven't received enough feedback from it. Ultimately I haven't gotten much better than EM/F1 55/67,

- Putting dropouts between pretty much every layer possible seems to improve the performance by 1~2%,
- Using adadelta instead of adam seem to improve the performance by 1%

but after that it seems difficult to get over the performance barrier. I believe the

[2017-11-24 03:48] matthew-z commented on #12
@minsangkim142

I see. Thank a lot for your reply!

I will try to ask the authors next week (we are in the same building).

[2017-11-24 03:50] minsangkim142 commented on #12
@matthew-z that would be awesome. Thanks!

[2017-11-26 09:38] JianboTang commented on #14
hi, how about the performance of this model after finishing training?

[2017-12-08 12:35] huangpeng1126 opened #19 "where is 'char_embedding' in model.py initialized?"
I can not found where the variable 'char_embedding' is initialized?

Here is the definition code: [self.char_embedding = ...](https://github.com/minsangkim142/R-net/blob/dd77447fa20e8cdad65eac9f5f33f468b159c8d7/model.py#L59)

[2017-12-08 14:17] dpappas opened #20 "ValueError cannot reshape array"
I keep getting the following error.
What can i do about it ?
Thank you

`
Traceback (most recent call last):
  File "model.py", line 256, in <module>
    main()
  File "model.py", line 216, in main
    glove = np.reshape(glove,(Params.vocab_size,Params.emb_size))
  File "/usr/local/lib/python2.7/dist-packages/numpy/core/fromnumeric.py", line 232, in reshape
    return _wrapfunc(a, 'reshape', newsh

[2017-12-11 01:24] minsangkim142 commented on #19
Hi @huangpeng1126, experiments suggest that using pretrained character embeddings does not help improve the performance by much. To reduce GPU memory, I decided to reduce the character embedding space and learn it from scratch and fine tune it. Thanks.

[2017-12-11 01:28] minsangkim142 commented on #20
Hi @dpappas, are you using your own glove word vectors? If so, you have to change this [line](https://github.com/minsangkim142/R-net/blob/dd77447fa20e8cdad65eac9f5f33f468b159c8d7/params.py#L42) to adjust your word vector size.
If you're not using your own word vectors but you're still getting this error, please make sure you're using the latest version of Spacy.
`Params.vocab_size` must be specifi

[2017-12-11 06:11] huangpeng1126 commented on #19
@minsangkim142 , Thank you. I check your code, the parameter 'trainable' is set to 'True'

[2017-12-11 06:42] QiXuanWang commented on #20
Interesting, I thought it was my mistake and I tried to change vocab_size to 2196018. And it turns out to be the correct behavior. I would suggest put this information somewhere in README or FAQ.

[2017-12-11 06:53] QiXuanWang commented on #14
I've spent 75+ hours on a xeon E5 2.4G machine, average cpu I used is 10+, memory used is 37g, it's now at 73% progress (for 100 epochs I think it's 73 epochs?) and with a F1 number 62%~76%. It's  really slow. Does that mean it's overfit already?

[2017-12-11 07:19] minsangkim142 commented on #20
Thanks for picking it out. I just fixed it :)

[2017-12-11 07:22] minsangkim142 commented on #14
Hi @QiXuanWang, are you training in CPU instead of GPU? Then the training might be really slow. Check your tensorboard to monitor your loss to see if your model is overfitting or not.

[2017-12-11 09:02] dpappas commented on #20
Hello everyone

When you download the pretrained glove embeddings
`wget http://nlp.stanford.edu/data/glove.840B.300d.zip`
you get the entirety of the embeddings matrix with 2196018 words in the vocabulary.

Is there a case where you only kept 91604 words (perhaps after discarding any word not present in the squad corpus?).
If that is the case it would be very helpful to provide only these embeddin

[2017-12-11 09:24] minsangkim142 commented on #20
Hi @dpappas, now instead of running
`python process.py -process True`
please run this line instead
`python process.py --reduce_glove True --process True`

[2017-12-11 09:26] dpappas commented on #20
Thank you very much for your immediate response!

[2017-12-11 09:26] #20 closed

[2018-01-17 08:12] digitnumber opened #21 "bidirectional_readout"
why do you need `bidirectional_readout`?
because in the paper they use outputs from `attention_match_rnn()` directly as the input to `pointer_network()`

[2018-01-17 10:45] minsangkim142 commented on #21
Hi @digitnumber, if you look at the [original paper](https://www.microsoft.com/en-us/research/wp-content/uploads/2017/05/r-net.pdf), they added an extra bidirectional layer before the pointer network. Please check figure 1 of the paper.
" After the original self-matching layer of the passage, we utilize bi-directional GRU to deeply integrate the matching results before feeding them into answer poi

[2018-01-17 14:05] digitnumber commented on #21
Thanks for a quick reply!
Could you please also explain why you used in` def call()` instead of` def __call__()` in `gated_attention_Wrapper`

because I was getting an error
`__call__     raise NotImplementedError("Abstract method")`

[2018-01-31 05:20] jemmun commented on #14
@minsangkim142 I noted you just spent 10 hours run 8 epochs with gtx1070, it's really faster than mine, I have no idea why i spent about 40 hours with Titanxp just ran 10 epochs. btw: many thanks for your brilliant work.

[2018-02-17 00:19] jenniferzhu opened #22 "Can we do transfer learning on R-net?"
i.e. how can we add new paragraphs for R-net to generate answer from in real practice? Thanks

[2018-02-17 03:16] theSage21 commented on #22
It would be nice to have a separate branch containing a simple demo page. I
can write it and maybe you could help?

On 17-Feb-2018 05:49, "Jennifer Zhu" <notifications@github.com> wrote:

[2018-02-17 04:02] minsangkim142 commented on #22
That would be awesome if you could add your own paragraphs and questions for testing. @theSage21 do you have ideas on how you would approach this? I save word2index dictionary in dictionary.pkl file which could be used to convert user input to indexes for input.
Example could be:
`>> paragraph("The Facebook AI Research (FAIR) Residency Program is a one-year research training program with Facebook’

[2018-02-17 04:04] theSage21 commented on #22
If we were to do this it would be nice if we had a web interface for it.
That way people can spice it according to taste. Something similar to the
bidaf demo page should be ok I guess.

I'll give it thought and action once I'm near a laptop.

On 17-Feb-2018 09:32, "Min" <notifications@github.com> wrote:

That would be awesome if you could add your own paragraphs and questions
for testing. @theSage

[2018-02-17 17:42] theSage21 commented on #22
So a very simple way of getting this done would be a new mode (maybe `demo`?) which is very close to what the `test` mode does and call the `sess.run` within an API call. This along with some simple HTML should allow a basic web based demo to work. Should I submit a PR?

[2018-02-17 17:44] theSage21 commented on #22
I'd also suggest changing the issue title to something along the line of `live evaluation/demo` since transfer learning can be misleading here.

[2018-02-17 22:01] minsangkim142 commented on #22
Yup if you have an initial idea or proof of concept of html web please submit a PR and I'll start working on it too :)

[2018-02-17 23:53] minsangkim142 opened #23 "Online demo / realtime user interface"
From issue #22, we want to make a web based user interface/interaction tool so that users can copy and paste whatever passage context and questions they want and python/tensorflow backend will process the data.
@theSage21 could you please submit a pr for the web interface?
Thanks!

[2018-02-17 23:53] minsangkim142 commented on #22
Opened #23 Thanks everyone :)

[2018-02-17 23:53] #22 closed

[2018-02-20 17:43] jenniferzhu commented on #23
Thanks @minsangkim142 @theSage21 for opening a new issue on my question!
I think UI is a good idea to do the test. Without having an UI right now, how can I test it on the terminal?

[2018-02-22 09:23] theSage21 commented on #23
@jenniferzhu There's no live evaluation capability web/cli or otherwise AFAIK. We'll just have to wait for this feature to go in.

[2018-02-22 16:55] jenniferzhu commented on #23
@theSage21 Thanks! I guess this will be an interesting feature to add!

[2018-02-23 04:54] minsangkim142 commented on #23
@theSage21 Yup I created a branch called "demo" where pushed a basic framework for R-net backend.
![image](https://user-images.githubusercontent.com/24954419/36578505-82236b5c-18c2-11e8-92ff-f59ff28147a2.png)
Could you have a look?

[2018-02-23 07:07] minsangkim142 commented on #23
Committed a working demo at "demo" branch.
![image](https://user-images.githubusercontent.com/24954419/36582134-2334f35a-18d5-11e8-9b94-1992545377cf.png)

[2018-02-24 19:06] theSage21 commented on #23
Bigger box :smile: as of https://github.com/theSage21/R-net/commit/1cb66e967d7ce3b2779ad625877fced02fe78c00

Does that work?

![image](https://user-images.githubusercontent.com/7693265/36633982-c516bb74-19c3-11e8-9cc8-6556ae8c8663.png)

[2018-02-26 01:34] minsangkim142 commented on #23
Merged to the master branch, thank you @theSage21

[2018-02-26 01:34] #23 closed

[2018-02-28 15:09] maciejbiesek opened #25 "ValueError during embeddings reshaping"
Hi, I have a problem with training R-NET. After loading passage and question data I have the following error.

`ValueError: cannot reshape array of size 27481500 into shape (91604,300)`
in _model.py_ file in line:
`glove = np.reshape(glove,(Params.vocab_size,Params.emb_size))`

How to handle with that?

[2018-02-28 15:25] theSage21 commented on #25
You seem to have one more word in your glove file than what is expected. (91604 * 300) = 27481200 and your error has a difference of +300

Increasing `Params.vocab_size` by one show fix this error. I suspect that it's the  *space* word in glove files which is causing this.

[2018-03-01 02:12] minsangkim142 commented on #25
Hi @maciejbiesek, as @theSage21 said your glove probably has an additional word. The quick fix for now is just increasing Params.vocab_size by one.
I will look into removing the dependency of vocab size as an additional information (delete Params.vocab_size) as it seems like people are getting different glove size depending on their spacy library version and so on.

[2018-03-01 02:12] #25 closed

[2018-03-01 02:12] #14 closed

[2018-03-01 02:14] minsangkim142 commented on #14
Try changing the number of threads for each of these operations to keep the queue full.
https://github.com/minsangkim142/R-net/blob/74a6abcc0c059d2c3d540947071b20797286c9be/data_load.py#L208-L213

[2018-03-01 02:14] #19 closed

[2018-03-01 04:53] minsangkim142 commented on #21
I think RNN cell instance in tf natively has `def call()` function. But not sure, changed to `__call__` thanks!

[2018-03-01 04:53] #21 closed

[2018-03-01 08:47] maciejbiesek commented on #25
Thank you very much, now it works! :)

[2018-03-06 02:04] sushgandhi opened #26 "Is their any saved model that can be used for demo?"
if someone just wants to evaluate and see how the results are. it would be great if you could provide, your meta/data files for any model for download.

Thanks.!

[2018-03-09 05:08] theSage21 commented on #26
The project at [R-Net in tensorflow](https://github.com/unilight/R-NET-in-Tensorflow) has released weights. While weights are not released for this code you can try out that project's model. Performance is almost at par with this implementation.

[2018-03-13 12:29] shunshunyin opened #27 "Definition of scores in function attention"
I have one question on the function attention(inputs, units, weights, scope = "attention", memory_len = None, reuse = None) in file layers.py
Why scores = tf.reduce_sum(tf.tanh(outputs) * v, [-1]) ?
I think we should define scores = tf.squeeze(tf.matual(tf.tanh(outputs), v))

[2018-03-13 12:52] #27 closed

[2018-03-25 17:10] brojokm opened #28 "Training: cannot reshape array of size 27481500 into shape (91604,300)"
python2 model.py
Training...
Loading question data...
Loading passage data...
Preparing data...
Total number of trainable parameters: 1195735
Built model
Loading question data...
Loading passage data...
Preparing data...
Traceback (most recent call last):
  File "model.py", line 293, in <module>
    main()
  File "model.py", line 250, in main
    glove = np.reshape(glove,(Params.vocab_size,Params.

[2018-03-25 17:54] theSage21 commented on #28
I remember a similar issue being raised somewhere.

Your give file has one extra word. Removing the last word from the file
should fix this.

On Sun 25 Mar, 2018, 22:40 brojokm, <notifications@github.com> wrote:

[2018-03-26 11:43] brojokm commented on #28
Now I am getting the following error.

`  9%|██▌                          | 288/3226 [15:45<2:40:47,  3.28s/b]
Dev_loss: 3.97158241272
Dev_Exact_match: 0.03125
Dev_F1_score: 0.111962455437
 10%|██▉                          | 320/3226 [17:29<2:38:51,  3.28s/b]Traceback (most recent call last):
  File "model.py", line 294, in <module>
    main()
  File "model.py", line 270, in main
    index, dev_lo

[2018-04-05 16:47] jeffreyflynt commented on #28
I am getting the same initial error.

[2018-04-05 16:53] jeffreyflynt commented on #28
I increased `vocab_size = 91604` to `vocab_size = 91605` in params.py and the error went away.

[2018-04-06 05:32] minsangkim142 commented on #26
Hi @sushgandhi , while I don't have pretrained weights available for R-net demo, I have uploaded a pretrained weights for Google's [Fast Reading Comprehension](https://openreview.net/pdf?id=B14TlG-RW) implementation which achieves EM/F1 = 70.0/79.5. You can find it [here](https://github.com/minsangkim142/Fast-Reading-Comprehension).

[2018-04-07 01:24] sushgandhi commented on #26
Thanks a lot @minsangkim142 and @theSage21

[2018-04-07 01:24] #26 closed

[2018-04-08 02:32] minsangkim142 commented on #28
As @jeffreyflynt said, just increase the dictionary size by 1 until there is no dictionary size error.

[2018-04-08 02:32] #28 closed

[2018-04-08 08:26] brojokm commented on #28
I have done the above.. But it has failed after 8% of training.. I have already post the same issue above. But didn't get the its solution.

Dev_F1_score: 0.183340548341
  7%|█▉                        | 300/4129 [2:09:28<27:32:33, 25.90s/b]
Dev_loss: 3.72519350052
Dev_Exact_match: 0.1
Dev_F1_score: 0.178666666667
  8%|██▏                       | 350/4129 [2:30:47<27:08:09, 25.85s/b]Traceback (most

[2018-04-08 08:31] brojokm opened #29 "Training failed after 8% with error "InvalidArgumentError (see above for traceback): indices[32,70] = 91604 is not in [0, 91604)""
After 8% of training its failed..

Dev_loss: 3.72519350052
Dev_Exact_match: 0.1
Dev_F1_score: 0.178666666667
  8%|██▏                       | 350/4129 [2:30:47<27:08:09, 25.85s/b]Traceback (most recent call last):
  File "model.py", line 293, in <module>
    main()
  File "model.py", line 269, in main
    index, dev_loss = sess.run([model.output_index, model.mean_loss], feed_dict = feed_dict)
  Fi

[2018-04-08 09:24] minsangkim142 commented on #29
As mentioned in #28 try inceading the dictionary size from hyperparameters.py to 91605 and you won't have a problem

[2018-04-08 11:35] brojokm commented on #29
Now getting the follwing error..

InvalidArgumentError (see above for traceback): Assign requires shapes of both tensors to match. lhs shape= [91605,300] rhs shape= [91604,300]
	 [[Node: save/Assign_270 = Assign[T=DT_FLOAT, _class=["loc:@word_embeddings"], use_locking=true, validate_shape=true, _device="/job:localhost/replica:0/task:0/device:CPU:0"](word_embeddings, save/RestoreV2:270)]]

[2018-04-08 12:33] brojokm commented on #29
Here is the details

Traceback (most recent call last):
  File "model.py", line 293, in <module>
    main()
  File "model.py", line 258, in main
    with sv.managed_session(config = config) as sess:
  File "/usr/lib/python2.7/contextlib.py", line 17, in __enter__
    return self.gen.next()
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/training/supervisor.py", line 1000, in manag

[2018-04-08 12:48] minsangkim142 commented on #29
Also remove "train/train" directory and try it again. Most likely due to the previously saved model.

[2018-04-08 12:52] brojokm commented on #29
I have done after removing the directory..

[2018-04-08 12:55] minsangkim142 commented on #29
I'll look into this problem when I get back to my computer.

[2018-04-08 12:59] brojokm commented on #29
I am sorry.. I deleted the folder and created new.. Now its working.. Let see if all works fine.. Kindly do not close the issue till tomorrow.

[2018-04-08 12:59] brojokm commented on #29
Thanks for your supports. @minsangkim142

[2018-04-10 08:12] sshmyeclipse opened #30 "mode="demo""
Run the local host for online demo...
Tensor("passage_embeddings/embedding_lookup:0", shape=(1, 300, 300), dtype=float32, device=/device:CPU:0)
Tensor("passage_char_encoding/Reshape_2:0", shape=(50, 300, 150), dtype=float32)
Traceback (most recent call last):
  File "model.py", line 291, in <module>
    model = Model(is_training = False, demo = True); print("Built model")
  File "model.py", line 7

[2018-04-10 08:48] minsangkim142 commented on #30
Hi @sshmyeclipse, please change the batch size to 1 when running demo.

[2018-04-10 08:48] #29 closed

[2018-04-10 23:36] #30 closed

[2018-04-17 08:23] zhangxinars opened #32 "can't Preparing data....."
When I run "python model.py", In the Preparing data step, the process is always 0%,the output is:
Training...
Loading question data...
Loading passage data...
Preparing data...
Total number of trainable parameters: 1195735
Built model
Loading question data...
Loading passage data...
Preparing data...
  0%|                                         | 0/2064 [00:00<?, ?b/s]Killed
Thanks!

[2018-04-20 12:45] mathis94 opened #33 "French ?"
Hi,
what does it take to make it in French ?
Thx

[2018-04-20 13:14] theSage21 commented on #33
A dataset is not available for French. The dataset we use is [SQuAD](https://rajpurkar.github.io/SQuAD-explorer/).

I have an ongoing effort for collecting QA in multiple languages at <http://bit.do/qadataset>. If you would like to contribute to it in french we can perhaps retrain this model for French.

I am in the process of developing that collection engine right now so expect some rough edge.

[2018-04-23 00:08] minsangkim142 commented on #32
Hi @zhangxinars It seems to me the model is running on cpu and killed due to an overtime. Make sure you're training on GPU otherwise this will take a long time.

[2018-04-24 02:16] zhangxinars commented on #32
Thanks!

[2018-04-24 02:16] #32 closed

[2018-07-28 10:11] SarangShaikh201 opened #34 "I am getting error during training or runnign model.py"
I am attaching screen shot of my error . Kindly respond as soon as possible please
![screenshot from 2018-07-28 15-10-21](https://user-images.githubusercontent.com/39126361/43355592-6dab540c-9278-11e8-9226-481da3609770.png)

[2018-07-29 02:59] localminimum commented on #34
Hi, please change the dictionary size to 91612 and it should work. Thanks

[2018-10-10 09:50] vitalchandu opened #35 "Regards Tensorflow installation in python 2.7"
while trying to install tensorflow in windows 10 , using anaconda and python 2.7
i am getting errors like, can anyone please help
pip install tensorflow
Collecting tensorflow
  Could not find a version that satisfies the requirement tensorflow (from versions: )
No matching distribution found for tensorflow

pip install tensorflow==1.2.0
Collecting tensorflow==1.2.0
  Could not find a version that

[2018-10-16 01:39] feeas commented on #35
For tensorflow > 1.1 and python 2.7(or vertual env of python 2.7) which ubantu verion needed.

[2018-10-18 08:39] st474ddr opened #36 "model in Chinese"
Excuse me,
Can it take to make it in Chinese ?

[2018-10-30 08:00] Pawankhatri2k13 commented on #34
Please recommend dict size for this error.
ValueError: cannot reshape array of size 27481200 into shape (91612,300)
::: 91612 did not work in my case.

[2018-11-07 12:13] andyyuan78 commented on #34
I confirm it works by
 change the dictionary size to 91612

[2018-11-18 16:49] bobvanluijt opened #38 "Documentation on running the demo?"
Hi all,

I'm trying to understand how to run the demo. I've changed the following in `params.py`:

[code]

What should I do next?

Thanks

[2018-11-18 16:50] bobvanluijt commented on #38
cc: @theSage21 ⬆️

[2018-11-20 06:39] theSage21 commented on #38
It's been a while since I used this system. `python model.py` I think.

[2018-11-20 06:43] theSage21 commented on #38
Meanwhile [google BERT](https://github.com/google-research/bert) will be a better starting point for QA now.

[2018-11-20 21:27] bobvanluijt commented on #38
Thanks, I've started experimenting with it...

[2018-12-07 11:41] marc88 commented on #29
I get the following error too after running an embedding layer as;

`Embedding(23624, 50, input_length=5, trainable=False)`

Each datapoint here is a number(index). Upon checking indices[6,4] I found the following

[code]
ar_train_data is an array of shape (162896, 5) where each value is  between [0, 23624).
The training stops towards the end of the first epoch with the error above.
am amazed! 508

[2018-12-07 11:58] marc88 opened #39 "InvalidArgumentError (see above for traceback): **indices[6,4]** = 23624 is not in [0, 23624)"
I get the following error after running an embedding layer as;

`Embedding(23624, 50, input_length=5, trainable=False)`

Each datapoint here is a number(index). Upon checking indices[6,4] I found the following

[code]
ar_train_data is an array of shape (162896, 5) where each value is  between [0, 23624).
The training stops towards the end of the first epoch with the error above.

Am amazed! 5088 i

[2019-01-09 05:58] VN04 commented on #29
@marc88 Did you get the solution to the above error you specified? I am getting the same error

tensorflow.python.framework.errors_impl.InvalidArgumentError: indices[8,0] = 8 is not in [0, 8)
	 [[{{node embedding_2/embedding_lookup}} = GatherV2[Taxis=DT_INT32, Tindices=DT_INT32, Tparams=DT_FLOAT, _device="/job:localhost/replica:0/task:0/device:CPU:0"](embedding_2/embeddings/read, _arg_input_4_0_1,

[2019-01-16 17:36] ghost commented on #29
Also, same issue here:
`tensorflow.python.framework.errors_impl.InvalidArgumentError: indices[19,1] = 800 is not in [0, 500)
         [[Node: embedding_1/embedding_lookup = Gather[Tindices=DT_INT32, Tparams=DT_FLOAT, _class=["loc:@embedding_1/embeddings"], validate_indices=t
rue, _device="/job:localhost/replica:0/task:0/device:CPU:0"](embedding_1/embeddings/read, embedding_1/Cast)]]`

[2019-01-26 03:29] omar16100 commented on #29
Similar error here:

InvalidArgumentError: indices[0,0] = 117397 is not in [0, 76616)
	 [[Node: Restaurant-Embedding_1/embedding_lookup = GatherV2[Taxis=DT_INT32, Tindices=DT_INT32, Tparams=DT_FLOAT, _class=["loc:@training/Adam/Assign_2"], _device="/job:localhost/replica:0/task:0/device:CPU:0"](Restaurant-Embedding_1/embeddings/read, Restaurant-Embedding_1/Cast, training/Adam/gradients/Restaurant-

[2019-02-15 13:13] sandhiya18 opened #40 "Pre-trained model for QA"
I am trying to build a QA model for a custom dataset. Is there a way in which I can fine-tune the model for initializing the weights(Tensorflow weights as initialization) trained on SQAD dataset onto my new dataset for QA?

[2019-03-01 04:09] zsweet opened #41 "Can sombody share this code result on squad?"
Can sombody share this code result on squad? I want to know whether this code can recurrent r-net?

[2019-04-08 05:20] rajdeinno opened #42 "Training restarted again after it hit 100%"
Initially I had issue while running model.py. Cannot reshape array of size  27481400 into shape(91604,300).

But I have fixed it by changing the config value vocab_size by 2196018 .

My training has started successfully after the above config change. It was running around 5 days and completed 100 %. I left my machine open for training and I thought it will end up after 100%. But yesterday again it

[2019-04-18 03:09] tangchen2 opened #43 "Question about question-passage attention"
when the network process the attention match rnn,  in the first loop, it actually process question - passage attention. In the function 'attention_rnn' when it calls attention, the outputs_ is [ [ batch, max_p_len, attn_size * 2], [batch, max_q_len, attn_size + 2] ] , i wonder how the outputs = sum(outpus_) run ? Their dimensions are not matched.

[2019-05-05 09:28] ajinkyaThorwat opened #44 "cannot reshape array of size 26920800 into shape (91605,300)"
glove = np.reshape(glove,(Params.vocab_size,Params.emb_size))
  File "/home/kamal/.local/share/virtualenvs/R-net-master-kpkmZweY/local/lib/python2.7/site-packages/numpy/core/fromnumeric.py", line 292, in reshape
    return _wrapfunc(a, 'reshape', newshape, order=order)
  File "/home/kamal/.local/share/virtualenvs/R-net-master-kpkmZweY/local/lib/python2.7/site-packages/numpy/core/fromnumeric.py", l

[2019-05-15 13:03] rajdeinno commented on #44
Change the vocab_size to 89736 in params.py file and start train again. Hope this will help

[2019-06-07 04:25] Somabhadra commented on #29
i faced similar issue.i have used different vocabulary size and it started working. before i was using glove and  got error. so don't used pretrained model.now my code is working fine.basically its related to word embedding issue.

[2019-09-07 14:39] wmustafaAwad commented on #39
Please refer to my answer here:

https://stackoverflow.com/questions/56890244/invalidargumenterror-see-above-for-traceback-indices47-6-24-is-not-in-0/57834436#57834436

[2020-03-31 12:11] khaledmustafa91 opened #47 "TypeError: An op outside of the function building code is being passed a Graph tensor"
hello i take this code and i run it on colab
when i run it i got these message
TypeError: An op outside of the function building code is being passed a Graph tensor
i doesn't change any thing in model part code
and i noticed that **sv.should_stop** change from false to true after this line :

            if init: sess.run(model.emb_assign, {model.word_embeddings_placeholder:glove})
 because it cha

[2020-11-08 16:38] ohwphil opened #48 "Error when pipenv install is done"
What should I do if this keeps happening?
![bandicam 2020-11-09 01-37-28-321](https://user-images.githubusercontent.com/71064896/98470955-4b2bd000-222c-11eb-9e65-08f889746e00.jpg)

[2022-09-06 11:09] #47 closed, assigned to nobody